.str-chat__list {
  height: 90vh;
  overflow-x: hidden; /* הסתרת גלילה אופקית */
  flex-grow: 1;
  overflow-y: auto;

}
.messagesList {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* הסתרת גלילה אופקית */
  border: 0.05px solid black;
  border-bottom-left-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);

  border-top: none;
}

.messaging.str-chat .str-chat__header-livestream {
  border: 0.5px solid black;
  /* border-bottom: none; */

}

.str-chat__channel-preview-messenger--active{
  border: 0.5px solid black;

}

.str-chat {
  height: 85vh;
  font-family: var(--second-font);
  color: var(--black);
}

/* קובץ CSS: chat.css */

/* סגנון כללי לפס הגלילה */
::-webkit-scrollbar {
  width: 8px; /* רוחב פס הגלילה */
  height: 8px; /* גובה פס הגלילה האופקי */
}

::-webkit-scrollbar-thumb {
  background: #888; /* צבע פס הגלילה */
  border-radius: 4px; /* עיגול פינות פס הגלילה */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* צבע פס הגלילה כאשר העכבר מעל */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* צבע הרקע של פס הגלילה */
}

/* התאמה אישית של פס הגלילה עבור מחלקות ספציפיות */
.messagesList {
  overflow: auto; /* לוודא שיש גלילה פנימית */
  width: 100%;
}

.messagesList::-webkit-scrollbar {
  width: 8px;
}

.messagesList::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.messagesList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.messagesList::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.loading {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  max-width: 100%;
  max-height: 100%;
}

.chat-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.channel-list-container {
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.channel-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.window-container {
  flex: 1;
  overflow-y: auto;
}

.loading {
  display: block;
  margin: auto; 
}


.str-chat__channel-list,
.str-chat.messaging, .str-chat.commerce,
.str-chat__channel-list-messenger{
  background-color: #ffffff;
}

.str-chat-channel.messaging .str-chat__main-panel{
  padding: 2%;
}

.str-chat__input-flat .str-chat__textarea>textarea{
  text-align: center;
}

.messaging.str-chat .str-chat__header-livestream {
  border: 0.5px solid black;
  background-color: #c2ecf766;
}

.str-chat__input-flat .str-chat__textarea>textarea {
  text-align: center;
  background-color: #c2ecf766;

}
.str-chat__channel-preview-messenger--active {
  border: 0.5px solid black;
  background-color: #c2ecf766;

}
.str-chat__channel-preview-messenger {
  border: 1px solid #000;
  background-color: rgba(194, 236, 247, 0.4);
  border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
}

.custom-channel-header {
  position: relative;
}

.channel-description-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 300px;
  word-wrap: break-word;
}