/* .file-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .file-info {
    display: flex;
    justify-content: space-between;
  }
  
  .file-details {
    display: flex;
    flex-direction: column;
  }
  
  .file-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .file-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .file-status-container, .file-comments, .file-uploader, .file-actions {
    flex: 1;
    text-align: center;
  }
  
  .file-status-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .file-actions-header, .file-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    text-align: center;
  }
  
  .file-status {
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .file-comments input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
  }
  
  button.download, button.delete, button.comments {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button.update {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
  }
  
  strong {
    font-weight: bold;
  }
   */

   .btn-primary{
border: 2px solid #cccccc;   }


@media screen and (max-width: 768px) {
  .file-box {
    flex-direction: column;
    padding: 10px;
  }

  .file-info, .box, .file-actions {
    width: 100%;
    margin-bottom: 10px;
  }

  .file-name {
    font-size: 14px;
  }

  .file-date {
    font-size: 12px;
  }

  .file-status-container, .file-comments {
    flex-direction: column;
  }

  .file-status, select {
    /* width: 100%; */
    margin-top: 5px;
  }

  .file-actions {
    justify-content: space-between;
  }

  .file-actions button {
    padding: 5px;
    font-size: 14px;
  }

  .update {
    position: static;
    margin-bottom: 5px;
  }

  input[type="text"] {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .file-box {
    font-size: 12px;
  }

  .file-name {
    font-size: 13px;
  }

  .file-date {
    font-size: 11px;
  }

  .file-actions button {
    padding: 3px;
    font-size: 12px;
  }
}


.modal {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: var(--mdb-modal-zindex);
  width: auto !important;
  max-width: 80%; /* Adjust as needed */
  height: auto !important;
  max-height: 80% !important; /* Adjust as needed */
  overflow-x: hidden !important;
  overflow-y: auto ; /* Allow vertical scrolling if content overflows */
  outline: 0;
  display: block !important;
}

.modal.button {
  
  margin: 5% !important;
}