#logo {
  order: 6;
  height: 60px;
}
body {
  margin: 0;
  opacity: 100%;
}
nav {
  color: #4c4084;
  background-color: #ffffff; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  border-bottom: 2px solid #4c4084;
  width: 100%;
  z-index: 3;

}

nav a {
  color: #4c4084; 
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
}

nav a:hover {
  text-decoration: underline; 
}

#logo {
  max-width: 100px;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav a {
    margin: 5px 0;
  }
  #logo {
    display: none;
    order: -1;
    height: 80px;
    margin-right: auto;
  }
}

.lang{
  border: none;
}