/* @import url(https://dl.dropboxusercontent.com/u/15746367/fonts/carmela/style.css);
@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);


nav {

    height: 18%;
    display: flex;
    align-items: flex-end;
    align-content: center;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    color: white;  
    border-bottom: 2px solid black;
    padding: 0;
    justify-content: space-around;
}


nav a {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: black;
    cursor: pointer;
    text-shadow: 0 0 1px;
    padding: 10px 20px 10px 20px;
}


nav a:hover {
    color: rgb(23, 0, 66);
    transform: scale(1.2);
}

#logo {
    order: 6;
    height: 60px;
}

nav a {
    transition: 0.7s;
}


@media screen and (max-width:500px) {

    nav {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        display: none; 
        order: -1;
        height: 80px;
        margin-right: auto;
    }
    
}
 */

/* navBar.css */
#logo {
  order: 6;
  height: 60px;
}
body {
  margin: 0;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  opacity: 100%;
}
nav {
  color: #4c4084;
  background-color: #ffffff; /* White text color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Padding for desktop */
  border-bottom: 2px solid #4c4084;
  /* position: fixed; */
  width: 100%;
  z-index: 3;

}

nav a {
  color: #4c4084; /* White text color for links */
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
}

nav a:hover {
  text-decoration: underline; /* Underline on hover */
}

#logo {
  max-width: 100px; /* Adjust logo size */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  nav {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
  }

  nav a {
    margin: 5px 0; /* Adjust margin for vertical stacking */
  }
  #logo {
    display: none;
    order: -1;
    height: 80px;
    margin-right: auto;
  }
}

/* .main {
  padding-top: 6%;
} */
